@page
@model comaiz.Pages.Costs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cost.Id" />
            <div class="form-group">
                <label asp-for="Cost.ContractId" class="control-label"></label>
                <select asp-for="Cost.ContractId" class="form-control" asp-items="ViewBag.ContractId"></select>
                <span asp-validation-for="Cost.ContractId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost.Name" class="control-label"></label>
                <input asp-for="Cost.Name" class="form-control" />
                <span asp-validation-for="Cost.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost.ChargeType" class="control-label"></label>
                <select asp-for="Cost.ChargeType" class="form-control"></select>
                <span asp-validation-for="Cost.ChargeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
