@page
@model comaiz.Pages.WorkRecords.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WorkRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WorkRecord.Id" />
            <div class="form-group">
                <label asp-for="WorkRecord.Worker" class="control-label"></label>
                <select asp-for="WorkRecord.WorkerId"
                        asp-items="@Model.WorkerNameSelectList">
                    <option value="">-- Select Worker --</option>
                </select>
            </div>       
            <div class="form-group">
                <label asp-for="WorkRecord.Contract" class="control-label"></label>
                <select asp-for="WorkRecord.ContractId"
                        asp-items="@Model.ContractsNameSelectList">
                    <option value="">-- Select Contract --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="WorkRecord.ContractRate" class="control-label"></label>
                <select asp-for="WorkRecord.ContractRateId"
                        asp-items="@Model.RateSelectList">
                    <option value="">-- Select Rate --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="WorkRecord.Hours" class="control-label"></label>
                <input asp-for="WorkRecord.Hours" class="form-control" />
                <span asp-validation-for="WorkRecord.Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
